:root {
    /* Основные шрифты и цвета */
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    color: #212121;
    color: #757575;
    color: #FFFFFF;
    color: #2196F3;
    color: #F5F4FA;
    color: rgba(255, 255, 255, 0.6);}
    * {
    margin:0;
    padding:0;
    list-style:none;
    box-sizing:border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p { margin: 0; text-decoration: none;}
     ul, ol {margin:0;padding-left:0;}
    button {cursor:pointer;}
    body {
    margin:0 auto; 
    
    font-family:"Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;}
    
    .container {
        width: 1200px; 
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    .section {padding-top: 94px;padding-bottom: 94px;}
    .header {
        display:flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo-blue {color: #2196F3;}
    .logo{
        display:flex;
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #212121;
        margin-right: 93px;
        align-items: center;
        padding-top: 24px;
        padding-bottom:25px ;}
    
    .site-nav{
    list-style:none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    display:flex; 
    align-items: center;
    justify-content:space-around;
    padding-top: 32px;
    padding-bottom: 32px;
    
    }
     
    .link {text-decoration: none; list-style:none; color: #212121;margin-right: 50px;}
    .link:hover, .link:focus{color:  #2196F3}
    .communication {
        text-decoration:none; list-style:none;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        color: #757575;
        display:flex;
        align-items: center; 
        margin-left: auto;
    }
    
    .hero {
    background: #2F303A;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
    .hero-section {
        padding-top: 200px;
        padding-bottom: 200px;
        background-color:  #2F303A;}
    .hero-header {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
        display:flex; 
        max-width: 696px;
        margin-bottom: 50px;
    }
    
    .button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0);
        border-radius: 4px;}
    .button:hover {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        background: #188CE8;}
    
    .main { list-style: none; background:#FFFFFF; 
        display:flex;
    }
    .main-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;}
    .main-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575; 
        display:flex;
        padding-right: 30px; 
        padding-bottom: 179px;}
    
    
    
    .work-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; display: flex; justify-content: center;padding-bottom: 50px;}
    
    .work {display: flex; flex-wrap:wrap;justify-content: center;}
    
    .workphoto {padding-right: 30px;padding-bottom: 94px;}
    
    
    
    
    .team {background: #F5F4FA; display:block;flex-wrap: wrap; max-height: 648px;}
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    padding-top: 94px; padding-bottom: 50px;}
    .team-photo {list-style:none;display:flex; justify-content: space-around;padding-bottom: 94px;}
    .team-name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121; padding-top: 30px;background-color: #FFFFFF;}
    .team-job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;padding-top: 10px;padding-bottom:  33px;background-color: #FFFFFF;}
    .footer {background:#2F303A;display:flex; flex-direction: column; justify-content: flex-start;max-height: 252px;padding-bottom: 60px; padding-left: 60px;}
    
    .logo-fw {color: #2196F3;}
    .logo-footer {text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 20px;
    }
    .address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}
    
    .footer-address {list-style: none;}
    .footer-info {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    
    .footer .footer-info:hover,
    .footer .footer-info:focus {
      color: var(--color-accent);}
    .portfolio {list-style: none; display: block; padding-bottom: 30px;}
    .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;}
    
    .portfolio-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;}
    
    button {
       
        border:0;
        appearance: auto;
        writing-mode: horizontal-tb;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: pointer;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
        box-shadow: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height:1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121; display: flex; justify-content: center; align-items: center;}
    
    .all-button {list-style: none;display: flex;padding-top: 94px; justify-content: center; padding-bottom: 50px;}
    .button1 {
        border:0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        height: 38px;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;margin-right: 8px;border-color: #F5F4FA; }
    
    .allbuttons {
        border:0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    background: #F5F4FA;
    border-radius: 4px;display: flex; margin-right: 8px; border-color: #F5F4FA;}
    
    .allbuttons:hover, .allbuttons:focus {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;}
    
      nav {display: flex; align-items: center;}  
          
    .portfolio-list {display: flex;flex-wrap: wrap;min-height: 1170px;}    
    .portfolio-photo1 {padding-right: 30px;}
    .portfolio-type {padding-bottom: 60px;}
    